/* CSS Document */
html,body{
	width: 100%;
	height: 100%;
}
body{
	background: url(../images/2bg.jpg) no-repeat bottom center fixed;
	background-size:100% 100%;: 
}
#login{
	width: 600px;
	height: 605px;
	/*margin:0 auto;*/
	position: fixed;
	background:rgba(0,0,0,0.3);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding:0px 10px 0px 10px;
}
#login .content ul{
    width: 550px;
    height: 605px;
    margin:0 auto;
    /*background: #999;*/
}
#login .content ul li{
	width: 550px;
	height: 52px;
	font-size: 18px;
	color: #fff;
	line-height: 40px;
}
/*登录一栏*/
#login .content ul .wz{
	margin-top: 25px;
}
#login .content ul .wz a{
	color: #fd7400;
}
#login .content ul .wz a:hover{
	color: #fff;
}
#login .content ul .wz b{
	color: #fff;
	font-size: 30px;
	padding-right: 346px;
}
/*手机号/用户名/密码*/
#login .content ul strong{
	width: 55px;
	height: 52px;
	float: left;
	background: #aaa;
	line-height: 52px;
	text-align: center;
}
#login .content ul input{
	width: 495px;
	height: 52px;
	float: right;
	letter-spacing: 2px;
	border: 0px;
	padding:10px;
	font-size: 15px;
}
/*验证码*/
#login .content ul .yzm{
	position: relative;
}
#login .content ul .yzm b{
	width: 55px;
	height: 52px;
	float: left;
	line-height: 52px;
	font-size:16px;
}
#login .content ul .yzm input{
	width: 280px;
	height: 52px;
	float: left;
	letter-spacing: 2px;
	border: 0px;
	padding:10px;
}
#login .content ul .yzm span{
	float: right;
	width: 200px;
	height: 52px;
	overflow: hidden;
}
#login .content ul .yzm i{
	position: absolute;
	line-height: 52px;
	font-size: 23px;
	left:55%;
	color:#fff;	
}
#login .content ul .yzm span:hover i{
	color: red;
}
/*记住我*/
#login .content ul .jzw{
	height: 22px;
	line-height: 22px;
}
#login .content ul .jzw b{
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	font-size: 20px;
	cursor: pointer;
	position: relative;
}
#login .content ul .jzw b:hover{
	color:#fd7400;
}
#login .content ul .jzw .jz{
    width: 55px;
    font-size: 18px;
	margin-left: 10px;
	color: #fff;
	position: absolute;
}
#login .content ul .jzw .jz:hover .jzw b{
	color:#fd7400;
}
#login .content ul .jzw .wj{
	float: right;
	color: #fff;
}
#login .content ul .jzw .wj:hover{
	color: #abcd05;
}
/*登录*/
#login .content .dl a{
	padding:15px 254px;
	font-size: 18px;
	color: #fff;
	position: absolute;
	bottom:25%; 
	background: #fd7400;
	transition: all 0.3s;
}
#login .content .dl a:hover{
	background: #abcd05;
}
/*横杠*/
#login .content .hg img{
	margin-top: 50px;
	margin-left: 25px;
}
/*第三方链接*/
#login .content .qq{
	position: relative;
	width: 300px;
	display: flex;
    justify-content: space-between;
    margin:0 auto;
    top: 10px;
}
#login .content .qq img{
	transition: all 0.5s;
}
#login .content .qq img:hover{
	transform: scale(1.3);
}